templates/vertiguard-vps-monitoring/workflows/02-disk-ram.json
{
  "name": "VertiGuard 02 · Disk & RAM alert",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "hours", "hoursInterval": 1 } ] } },
      "id": "a2000000-0000-4000-8000-000000000001",
      "name": "Every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": { "authentication": "privateKey", "command": "sudo -n /opt/vertiguard/disk_ram.sh" },
      "id": "a2000000-0000-4000-8000-000000000002",
      "name": "Disk/RAM (SSH)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": { "sshPrivateKey": { "id": "REPLACE_ME", "name": "VPS SSH" } }
    },
    {
      "parameters": {
        "jsCode": "const d = JSON.parse((($input.first().json.stdout) || '{}').toString().trim());\nconst TH = 80; // threshold %\nconst checks = { disk: Number(d.disk_pct), ram: Number(d.ram_pct) };\nconst labels = { disk: 'Disk /', ram: 'RAM' };\n\nconst breached = Object.keys(checks).filter(k => checks[k] >= TH);\n\nconst store = $getWorkflowStaticData('global');\nconst prev = store.vg_dr || [];\nconst newly = breached.filter(k => !prev.includes(k));\nconst recovered = prev.filter(k => !breached.includes(k));\nstore.vg_dr = breached;\n\nif (newly.length === 0 && recovered.length === 0) return [];\n\nconst lines = [];\nif (newly.length) {\n  lines.push('\\uD83D\\uDFE0 *VertiGuard \\u2014 high resource usage*');\n  newly.forEach(k => lines.push('\\u2022 ' + labels[k] + ': ' + checks[k] + '% (\\u2265' + TH + '%)'));\n}\nif (recovered.length) {\n  if (lines.length) lines.push('');\n  lines.push('\\uD83D\\uDFE2 *VertiGuard \\u2014 resources back to normal*');\n  recovered.forEach(k => lines.push('\\u2022 ' + labels[k] + ': ' + checks[k] + '%'));\n}\nlines.push('');\nlines.push('\\uD83D\\uDD52 ' + (d.ts || new Date().toISOString()));\nreturn [{ json: { message: lines.join('\\n') } }];"
      },
      "id": "a2000000-0000-4000-8000-000000000003",
      "name": "Evaluate threshold",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "a2000000-0000-4000-8000-000000000004",
      "name": "Telegram alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "Every hour": { "main": [[{ "node": "Disk/RAM (SSH)", "type": "main", "index": 0 }]] },
    "Disk/RAM (SSH)": { "main": [[{ "node": "Evaluate threshold", "type": "main", "index": 0 }]] },
    "Evaluate threshold": { "main": [[{ "node": "Telegram alert", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
