templates/vertiguard-vps-monitoring/workflows/19-status-on-demand.json
{
  "name": "VertiGuard 19 · /status on demand",
  "nodes": [
    {
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "id": "a9000000-0000-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "jsCode": "// Replace 0 with YOUR Telegram chat id so only you can query the server.\nconst ALLOWED_CHAT_ID = 0;\nconst m = ($input.first().json.message) || {};\nconst text = (m.text || '').trim();\nconst fromId = m.chat && m.chat.id;\nif (ALLOWED_CHAT_ID && fromId !== ALLOWED_CHAT_ID) return [];\nif (text !== '/status' && !text.startsWith('/status@')) return [];\nreturn [{ json: {} }];"
      },
      "id": "a9000000-0000-4000-8000-000000000002",
      "name": "Filter /status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": { "authentication": "privateKey", "command": "sudo -n /opt/vertiguard/status.sh" },
      "id": "a9000000-0000-4000-8000-000000000003",
      "name": "VPS status (SSH)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": { "sshPrivateKey": { "id": "REPLACE_ME", "name": "VPS SSH" } }
    },
    {
      "parameters": {
        "jsCode": "const d = JSON.parse((($input.first().json.stdout)||'{}').toString().trim());\nconst ic = v => String(v).startsWith('OK') ? '\\u2705' : '\\u274C';\nconst lines = [];\nlines.push('\\uD83D\\uDDA5\\uFE0F *VertiGuard \\u2014 VPS status*');\nlines.push(ic(d.nginx) + ' nginx');\nlines.push(ic(d.mariadb) + ' MariaDB');\nlines.push(ic(d.n8n) + ' n8n (Docker)');\nlines.push(ic(d.web_main) + ' example.com');\nlines.push(ic(d.web_app) + ' n8n.example.com');\nlines.push('');\nlines.push('\\uD83D\\uDCBD Disk: ' + d.disk_pct + '% \\u00b7 \\uD83E\\uDDE0 RAM: ' + d.ram_pct + '%');\nlines.push('\\u23F1\\uFE0F ' + (d.uptime || ''));\nlines.push('\\uD83D\\uDD52 ' + (d.ts || ''));\nreturn [{ json: { message: lines.join('\\n') } }];"
      },
      "id": "a9000000-0000-4000-8000-000000000004",
      "name": "Format status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "a9000000-0000-4000-8000-000000000005",
      "name": "Reply Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 300],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Filter /status", "type": "main", "index": 0 }]] },
    "Filter /status": { "main": [[{ "node": "VPS status (SSH)", "type": "main", "index": 0 }]] },
    "VPS status (SSH)": { "main": [[{ "node": "Format status", "type": "main", "index": 0 }]] },
    "Format status": { "main": [[{ "node": "Reply Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
