form-email-to-telegram/workflows/form-email-to-telegram.json
{
  "name": "Contact form (email) -> Telegram",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"SUBJECT_KEYWORD\"]]"
        }
      },
      "id": "f0r70000-0000-4000-8000-000000000001",
      "name": "IMAP mailbox",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "credentials": {
        "imap": {
          "id": "REPLACE_ME",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-subject",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "SUBJECT_KEYWORD",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0r70000-0000-4000-8000-000000000002",
      "name": "Is it a form email?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build a clean Telegram alert from the incoming form email.\n// Most contact forms send fields as \"Label: value\" lines.\n// Edit the FIELDS list to match your form's labels.\nconst e = $input.first().json;\nlet raw = (e.text || '').toString();\nif (!raw && e.html) raw = e.html.toString().replace(/<[^>]+>/g, '\\n');\nconst lines = raw.split(/\\r?\\n/).map(l => l.replace(/ /g, ' ').trim()).filter(Boolean);\n\nconst FIELDS = [\n  { label: 'Name', emoji: '🏷️' },\n  { label: 'Email', emoji: '📧' },\n  { label: 'Phone', emoji: '📱' },\n  { label: 'Message', emoji: '💬' }\n];\n\nfunction field(label) {\n  const re = new RegExp('^' + label + '\\\\s*:?\\\\s*(.*)$', 'i');\n  for (let i = 0; i < lines.length; i++) {\n    const m = lines[i].match(re);\n    if (m) { let v = (m[1] || '').trim(); if (!v && lines[i + 1]) v = lines[i + 1].trim(); return v; }\n  }\n  return '';\n}\n\nconst out = ['📬 New contact from your website', ''];\nlet found = 0;\nfor (const f of FIELDS) { const v = field(f.label); if (v) { out.push(f.emoji + ' ' + f.label + ': ' + v); found++; } }\n\nif (!found) {\n  const subject = (e.subject || '(no subject)').toString().trim();\n  const body = (e.text || '').toString().trim().slice(0, 1500);\n  return [{ json: { message: '📬 New contact from your website\\n\\nSubject: ' + subject + '\\n\\n' + body } }];\n}\nreturn [{ json: { message: out.join('\\n') } }];\n"
      },
      "id": "f0r70000-0000-4000-8000-000000000003",
      "name": "Format alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "f0r70000-0000-4000-8000-000000000004",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "IMAP mailbox": {
      "main": [
        [
          {
            "node": "Is it a form email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a form email?": {
      "main": [
        [
          {
            "node": "Format alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format alert": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}