templates/client-agency-toolkit/workflows/a12-client-uptime-monitor.json
{
  "name": "A12 - Client uptime monitor (HTTP -> Telegram)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 5 }
          ]
        }
      },
      "id": "a1200000-0000-4000-8000-000000000001",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 380]
    },
    {
      "parameters": {
        "jsCode": "// List the client sites you want to watch.\n// label = friendly name shown in the alert, url = full URL to check.\n// expectStatus is optional (default 200). timeoutMs caps each request.\nconst SITES = [\n  { label: 'Client A', url: 'https://example.com' },\n  { label: 'Client B', url: 'https://shop.example.org' },\n  { label: 'Client C', url: 'https://example.net/health' }\n];\n\n// How slow (ms) counts as a 'slow' warning even when the site is up.\nconst SLOW_MS = 3000;\nconst TIMEOUT_MS = 10000;\n\nreturn SITES.map((s) => ({\n  json: {\n    label: s.label,\n    url: s.url,\n    expectStatus: s.expectStatus || 200,\n    slowMs: SLOW_MS,\n    timeoutMs: TIMEOUT_MS\n  }\n}));"
      },
      "id": "a1200000-0000-4000-8000-000000000002",
      "name": "Site list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": "={{ $json.timeoutMs }}",
          "redirect": { "redirect": { "followRedirects": true } },
          "response": {
            "response": { "fullResponse": true, "neverError": true }
          }
        }
      },
      "id": "a1200000-0000-4000-8000-000000000003",
      "name": "Check site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 380],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Evaluate each response and emit only sites that are DOWN or SLOW.\n// 'Check site' runs once per incoming item; pair each result with its input.\nconst results = $input.all();\nconst out = [];\n\nfor (const item of results) {\n  const cfg = item.json;\n  // With fullResponse + neverError, status code lives in statusCode.\n  const status = cfg.statusCode ?? (cfg.response && cfg.response.statusCode);\n  const label = cfg.label || cfg.url;\n  const url = cfg.url;\n  const expect = cfg.expectStatus || 200;\n\n  // n8n exposes timing only when enabled; fall back to undefined.\n  let problem = null;\n  if (status === undefined || status === null) {\n    problem = `\\u26D4 ${label} no responde (timeout o DNS)`;\n  } else if (status >= 500) {\n    problem = `\\u26D4 ${label} caído — HTTP ${status}`;\n  } else if (status !== expect && status >= 400) {\n    problem = `\\u26A0 ${label} responde HTTP ${status} (esperaba ${expect})`;\n  }\n\n  if (problem) {\n    out.push({ json: { down: true, label, url, status: status ?? 'sin respuesta', text: `${problem}\\n${url}` } });\n  }\n}\n\nreturn out;"
      },
      "id": "a1200000-0000-4000-8000-000000000004",
      "name": "Keep only failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 380]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "a1200000-0000-4000-8000-000000000005",
      "name": "Alert on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 380],
      "credentials": {
        "telegramApi": { "id": "REPLACE_ME", "name": "Telegram bot" }
      }
    }
  ],
  "connections": {
    "Every 5 minutes": { "main": [[{ "node": "Site list", "type": "main", "index": 0 }]] },
    "Site list": { "main": [[{ "node": "Check site", "type": "main", "index": 0 }]] },
    "Check site": { "main": [[{ "node": "Keep only failures", "type": "main", "index": 0 }]] },
    "Keep only failures": { "main": [[{ "node": "Alert on Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
