templates/telegram-ai-assistant/workflows/telegram-ai-agent.json
{
  "name": "Telegram AI assistant (agent + tools)",
  "nodes": [
    {
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 380],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Telegram AI bot" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful, concise personal assistant reached over Telegram. Answer in the user's language. Use the Wikipedia tool for factual lookups and the Calculator tool for math. Keep replies short and clear; use plain text (no Markdown tables)."
        }
      },
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [560, 380]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [400, 600],
      "credentials": { "googlePalmApi": { "id": "REPLACE_ME", "name": "Google Gemini API" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "Conversation memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 600]
    },
    {
      "parameters": {},
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [720, 600]
    },
    {
      "parameters": {},
      "id": "b1000000-0000-4000-8000-000000000006",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [880, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "b1000000-0000-4000-8000-000000000007",
      "name": "Telegram reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 380],
      "credentials": { "telegramApi": { "id": "REPLACE_ME", "name": "Telegram AI bot" } }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Telegram reply", "type": "main", "index": 0 }]] },
    "Google Gemini Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Conversation memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Wikipedia": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Calculator": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
