templates/telegram-personal-assistant/workflows/a10-rss-ai-digest.json
{
  "name": "A10 - RSS AI digest (RSS + Gemini -> Telegram)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "triggerAtHour": 8, "triggerAtMinute": 0 }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Every morning 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 380]
    },
    {
      "parameters": {
        "jsCode": "// List the RSS/Atom feeds you want digested. One item per feed.\n// Replace these example feeds with your own.\nconst feeds = [\n  'https://example.com/feed.xml',\n  'https://example.org/rss',\n  'https://news.example.net/atom'\n];\nreturn feeds.map((url) => ({ json: { url } }));"
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Feed list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 380]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": { "ignoreSSL": false }
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Read feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [660, 380],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Keep only items from the last 24h and compile a compact list for the model.\nconst SINCE_MS = 24 * 60 * 60 * 1000;\nconst now = Date.now();\nconst items = $input.all().map((it) => it.json);\nconst recent = items.filter((a) => {\n  const d = new Date(a.isoDate || a.pubDate || a.date || 0).getTime();\n  return d && now - d <= SINCE_MS;\n});\nconst use = (recent.length ? recent : items).slice(0, 40);\nif (!use.length) {\n  return [{ json: { compiled: 'NO_ITEMS' } }];\n}\nconst lines = use.map((a, i) => {\n  const title = (a.title || '(no title)').replace(/\\s+/g, ' ').trim();\n  const link = a.link || a.guid || '';\n  const snippet = (a.contentSnippet || a.content || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').slice(0, 160);\n  return `${i + 1}. ${title}\\n   ${snippet}\\n   ${link}`;\n});\nreturn [{ json: { count: use.length, compiled: lines.join('\\n\\n') } }];"
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Filter recent + compile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 380]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are my news editor. From the headlines below (last 24h from my RSS feeds), pick the 5-8 most relevant and write a short morning digest in my language. For each: a one-line takeaway followed by the link. Skip duplicates and clickbait. Start with a one-sentence overview of the day's themes. Plain text only, no Markdown tables. If the input is exactly NO_ITEMS, say there's nothing new today.\n\nHeadlines:\n{{ $json.compiled }}",
        "messages": { "messageValues": [] },
        "batching": {}
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Summarize with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1120, 600],
      "credentials": {
        "googlePalmApi": { "id": "REPLACE_ME", "name": "Google Gemini API" }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Send digest to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1380, 380],
      "credentials": {
        "telegramApi": { "id": "REPLACE_ME", "name": "Telegram bot" }
      }
    }
  ],
  "connections": {
    "Every morning 08:00": { "main": [[{ "node": "Feed list", "type": "main", "index": 0 }]] },
    "Feed list": { "main": [[{ "node": "Read feed", "type": "main", "index": 0 }]] },
    "Read feed": { "main": [[{ "node": "Filter recent + compile", "type": "main", "index": 0 }]] },
    "Filter recent + compile": { "main": [[{ "node": "Summarize with Gemini", "type": "main", "index": 0 }]] },
    "Summarize with Gemini": { "main": [[{ "node": "Send digest to Telegram", "type": "main", "index": 0 }]] },
    "Google Gemini Chat Model": { "ai_languageModel": [[{ "node": "Summarize with Gemini", "type": "ai_languageModel", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
